.contact_item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 10px;

  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: #fff;
}

.contact_item:not(:last-child) {
  margin-bottom: 10px;
}

.delete_btn {
  width: 100px;
  padding: 5px 10px;

  background-color: #1e90ff;
  color: #fff;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  cursor: pointer;
}

.delete_btn:hover,
.delete_btn:focus {
  background-color: #1a7ad9;
}
